@media all and (min-width: 1300px){
	body {
	background-color: purple;
	}
}

@media all and (max-width: 960px){
	body {
		background-color: red;
	}
}

@media all and (max-width: 603px){
	body {
		background-color: blue;
	}
}